name: build

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

env:
  GRADLE_OPTS: "-Dorg.gradle.workers.max=2 -Dorg.gradle.console=plain"

jobs:
  # Verifies all tests pass
  verify:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: corretto
          java-version: 21
          cache: gradle

      - name: Install just
        run: sudo apt-get install -y just

      - run: just verify

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f # v2
        if: always()
        with:
          files: '**/test-results/**/*.xml'

      - run: ./gradlew publishPlugins -Pversion=0.0.0 --validate-only
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}

  # Prepare a release PR or release
  release:
    needs: verify
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      released: ${{ steps.release.outputs.release_created }}
    steps:
      - id: release
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        with:
          release-type: simple

  # Publish the artifacts (only if `verify` passed, and `release` created release)
  publish:
    needs: [ verify, release ]
    if: ${{ needs.verify.result == 'success' && needs.release.outputs.released }}
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: corretto
          java-version: 21
          cache: gradle

      - name: Install just
        run: sudo apt-get install -y just

      - run: just publish
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
